# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================
# Virtual Environments
# =====================
venv/
.env/
.env.*
.venv/

# =====================
# Flask
# =====================
instance/
.webassets-cache

# =====================
# Logs & Runtime Files
# =====================
*.log
*.sqlite3

# =====================
# OS / Editor files
# =====================
.DS_Store
Thumbs.db
.idea/
.vscode/

# =====================
# Pytest / Coverage
# =====================
.coverage
htmlcov/
.pytest_cache/

# =====================
# Build / Distribution
# =====================
build/
dist/
