<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Flask RPG</title>
</head>
<body>

<div class="container">
    <h1>🎮 Flask RPG</h1>

    <form method="post">
        <input name="name" placeholder="Hero Name" required><br><br>

        <select name="class">
            <option>Warrior</option>
            <option>Mage</option>
            <option>Archer</option>
        </select><br><br>

        <button>Start Adventure</button>
    </form>
</div>

</body>
</html>
